
.dashboard-screen {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.dashboard-screen .header {
  display: flex; flex-direction: row; align-items: center;
}
.dashboard-screen .header .center {
  display: flex; flex-direction: row; flex: 1; justify-content: center; align-items: center;
}

.dashboard-screen .step1, .dashboard-screen .step2 {
  display: flex; flex: 1; flex-direction: column; justify-content: center; align-items: center;
}

/* Sections */
.dashboard-screen .upload-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 12px;
}
.dashboard-screen .recent-uploads-section {
  display: flex;
  flex-direction: column;
}

.dashboard-screen .upload-section .inner-container {
  display: flex;
  flex-direction: column;
}
/* ********** */
/* UPLOADED DATA AREA */
/* ********** */
.dashboard-screen .upload-section .inner-container .uploaded-data-container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

/* ********** */
/* UPLOAD BAR */
/* ********** */
.dashboard-screen .upload-section .upload-bar-container {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.dashboard-screen .upload-section .upload-bar-container .file-upload-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}
.dashboard-screen .bank-selector-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 24px;
}
