
.expenses-screen-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 12px;
}

/********************************************************************
 * LINE 1
 *******************************************************************/
.expenses-screen-container .line1 {display: flex; flex-direction: row; height: 25vh; align-items: center}
.expenses-screen-container .line1 .left {display: flex; flex-direction: column; flex: 1;}
.expenses-screen-container .line1 .center {display: flex; flex-direction: column;}
.expenses-screen-container .line1 .right {display: flex; flex-direction: column; flex: 1;}

.expenses-screen-container .line2 {display: flex; flex: 1; flex-direction: row; height: 75vh;}
.expenses-screen-container .line2 .left {display: flex; flex-direction: column; flex: 1; max-width: 60%; }
.expenses-screen-container .line2 .right {display: flex; flex-direction: column; flex: 1; max-width: 40%; }

.expenses-screen-container .line2 .left .line1 { display: flex; height: 60%; flex-direction: row; }
.expenses-screen-container .line2 .left .line2 { display: flex; height: 40%; flex-direction: column; }
.expenses-screen-container .line2 .left .line1 .left { display: flex; flex-direction: column; flex: 1; }
.expenses-screen-container .line2 .left .line1 .right { display: flex; flex-direction: column; flex: 1; }
.expenses-screen-container .line2 .left .line1 .left .line1 { display: flex; flex-direction: column; flex: 1; justify-content: stretch; align-items: stretch;}
.expenses-screen-container .line2 .left .line1 .left .line2 { display: flex; flex-direction: column; flex: 1; }
