
.expense-detail {
  display: flex; flex-direction: column;
  padding: 24px;
  color: #5ddef4;
}

.expense-detail .detail-header { display: flex; flex-direction: column;; align-items: center; margin-bottom: 24px;}
.expense-detail .detail-header .description-container {display: flex; flex-direction: row; flex: 1; width: 100%; margin-top: 6px; }
.expense-detail .detail-header .description-container .toto-input {width: 100%;}
.expense-detail .detail-header .description-container input[type='text'] {width: 100%;}

.expense-detail .expense-detail-line1 { display: flex; flex-direction: row; justify-content: center; align-items: center; }
.expense-detail .expense-detail-line2 { display: flex; flex-direction: row; justify-content: center; }
.expense-detail .expense-detail-line3 { display: flex; flex-direction: row; justify-content: center; }
.expense-detail .expense-detail-buttons { display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 48px;}

.expense-detail .expense-detail-line1 .date-container {margin: 0 12px;}
.expense-detail .expense-detail-line1 .amount-container {margin: 0 12px; color: currentColor;}
.expense-detail .expense-detail-line1 .currency-container {margin: 0 12px;}
