
.toto-input {}

.toto-input .text-input {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
}
.toto-input .text-input.placeholder { opacity: 0.5; }

.toto-input .text-input.m {font-size: 1em;}
.toto-input .text-input.l {font-size: 1.6em;}
.toto-input .text-input.xl {font-size: 2em;}
