
.toto-login {
  background-color: #00acc1;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.toto-login .toto-login-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #007c91;
  border-radius: 50px;
  padding: 12px 40px;
  color: #5ddef4;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
  transition: box-shadow 0.4s;
}
.toto-login .toto-login-button:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: box-shadow 0.2s;
}
.toto-login .toto-login-button img {
  width: 100px;
  filter: grayscale(200%) brightness(2);
  margin-top: 3px;
}

.toto-app {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #00acc1;
  height: 100vh;
  font-family: 'Varela Round';
  font-size: 11px;
  color: rgba(0,0,0,0.7);
}
